@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Plus Jakarta Sans", sans-serif;
    @apply bg-slate-50 text-slate-900 antialiased;
  }

  ::selection {
    @apply bg-violet-500 text-white;
  }
}
